body { 
	font-family: Monospace;
	font-weight: bold;
	background-color: #777;
	margin: 0px; 
	overflow: hidden;
}

canvas {
	width: 100%; 
	height: 100% 
}

#info {
	position: absolute;
	padding: 10px;
	top: 10px;
	width: 100%;
	text-align: center;
	display:block;
	color: red;
}

a {
	color: #ff0000;
}